{% extends 'base.html.twig' %}

{% block title %}Panier de services
{% endblock %}

{% block body %}

	<h1 class="mb-5">Créer une facture</h1>

	<h2 class="mb-3">Services</h2>

	{% if items | length > 0 %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Service</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr class="align-middle">
						<td>{{ item.service.label }}</td>
						<td>{{ item.service.price|format_number({fraction_digit: 2}, style='decimal') }}</td>
						<td>
							<a href="{{ path('cart_decrement', {"id":item.service.id}) }}" class="btn btn-sm btn-outline-dark me-2">
								<i class="fas fa-minus"></i>
							</a>
							{{ item.qty }}
							<a href="{{ path('cart_add', {"id":item.service.id}) }}?returnToCart=true" class="btn btn-sm btn-outline-dark ms-2">
								<i class="fas fa-plus"></i>
							</a>
						</td>
						<td>{{ (item.total)|format_number({fraction_digit: 2}, style='decimal') }}</td>
						<td>
							<a class="btn btn-sm btn-danger" href="{{ path('cart_delete', {"id": item.service.id}) }}">
								<i class="fas fa-trash" title="Supprimer la ligne"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr class="table-light text-dark fw-bold fs-6">
					<td colspan="3">Total :
					</td>
					<td colspan="2">{{ total|format_number({fraction_digit: 2}, style='decimal') }}</td>
				</tr>
			</tfoot>
		</table>

		<h2 class="mb-3">Informations location</h2>
		{% if app.user %}
		{{ form_start(confirmationForm, {'action': path('rent_confirm')}) }}

		{{ form_widget(confirmationForm) }}

		<button type="submit" class="btn btn-primary mb-4">Créer la facture</button>

		{{ form_end(confirmationForm) }}
		{% else %}
			<H3>Vous devez être connecté pour valider la facturation</H3>
			<a class="btn btn-success" href="{{ path('security_login') }}">Connexion</a>
		{% endif %}

	{% else %}
		<h2>Le panier est vide !</h2>
	{% endif %}

{% endblock %}
